{% extends "account/base.html" %}
{% block content %}
{% load i18n %}
{% load account socialaccount %}



<br>
<br>
<div class="row">
  <div class="col s6">


    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Iltimos username va parolingizni tering agar parolingizni yozing agar akkauntingiz bolmasa royxatdan o'ting <a href="{{ signup_url }}" class="btn blue darken-2">sign up</a>
   {% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
      
      </ul>

    </div>

    

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  </div>
  <div class="col s6">
    <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn blue darken-2" type="submit">{% trans "Sign In" %}</button>
</form>
  </div>
</div>



{% endblock %}


