{% extends 'base.html' %}
{% load static %}
{% block content %}
  

     <!-- BLOG DETAIL -->
     <section class="project-detail section-padding-half">
          <div class="container">
               <div class="row">

                    <div class="col-lg-9 mx-auto col-md-11 col-12 my-5 pt-3" data-aos="fade-up">
                      <h4 class="blog-category text-info"><a href="{% url 'main:author_detail' detail.author.slug %}">{{detail.author}}</a></h4>
                      
                      <h1>{{detail.title}}</h1>

                      <div class="client-info">
                          <p><h5 style="color:black;">{{detail.body}}</h5> 
                            <h5 style="color:blue">{{detail.date}}</h5></p>
                          </div>
                      </div>
                    </div>

               </div>
          </div>
     </section>


     <div class="full-image text-center" data-aos="zoom-in">
       <img src="{{detail.image.url}}" style="width:65%;" class="img-fluid" alt="blog header">
     </div><br><br>

  <center class=" m-4">
   <a href="{% url 'main:category_detail' detail.category.slug %}" class="custom-btn btn-bg btn bg-primary text-white mt-3" data-aos="fade-up" data-aos-delay="100">{{detail.category}}</a></center>
     <!-- BLOG DETAIL -->

              
          </div>
          
     </section>


{% endblock %}