{% extends 'base.html' %}
{% load static %}
{% block content %}
     

     <!-- HERO -->
     <section class="hero  d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-dark" data-aos="fade-up">SILK ROAD da Zamon bilan ham nafas bo'ling</h1>

                                   <a href="{% url 'main:contact'%}" class="custom-btn btn-bg btn bg-primary text-white mt-3" data-aos="fade-up" data-aos-delay="100"><i class="fa fa-book"></i>Hoziroq Boshlang</a>

                                   <strong class="d-block m-4 text-dark" data-aos="fade-up" data-aos-delay="200">☎ +998 33 930 47 47</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="static/images/working-girl.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


   <section class="project" id="cours">
            <div class="container">
                 <div class="row">

                      <div class="col-lg-12 col-12 py-5 mt-5  text-center">

                        <h1 class="mb-4" data-aos="fade-up">SILKROAD Kurslari</h1>
                      </div>
                        {% for blog in recent_add %}
                          
                      
                      <div class="vedr col-md-6 col-md-6 col-12 mb-4">
                        <div class="blog-header" data-aos="fade-up" data-aos-delay="100">
                          

                          <div class="blog-header">
                            
                           <a href="{{blog.get_absolute_url}}"><h4 class="blog-category m-4 text-info">{{blog.title}}</h4></a> 
                            <div class="d-flex">
                            <h3 style="color:black;" class="m-4">{{blog.body|truncatewords:'12'}}</h3>
                            <img src="{{blog.image.url}}" style="width:250px;height:200px;" class="m-4" alt="blog header"></div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                      
   
                    </div>  
                  </div>

       </section>

     <!-- ABOUT -->


     <section class="blog" id="blog">
            <div class="container">
                 <div class="row">

                      <div class="col-lg-12 col-12 py-5 mt-5  text-center">

                        <h1 class="mb-4" data-aos="fade-up">SILKROAD</h1>
                      </div>
    
                      
                      <div class="col-md-6 col-md-6 col-12  mb-4">
                        <div class="blog-header" data-aos="fade-up" data-aos-delay="100">
                          

                          <div class="blog-header">
                            </div>
                           <h2 class="mb-4" data-aos="fade-up">Zamon bilan hamnafas boʻling <strong>Silk Road oʻquv markazida tahsil oling!!!</strong></h2>

                            <div class="">
                            <p class="mb-0" data-aos="fade-up">Bizning kurslarimiz qisqa muddat ichida katta natijaga erishmoqchi boʻlganlar uchun!!! <a href="{% url 'main:course'%}"> Buxgalteriya</a> yo'nalishi, <a href="{% url 'main:course'%}">INGLIZ TILI</a> yo'nalishi, and <a href="{% url 'main:course'%}">Kompyuter </a> yonalishi. 
                              <br><br>Siz <strong>Silk Road</strong> oʻquv markazida malakali mutaxassislardan tahsil oling. Silk Road oʻquv markazida qabul davom etmoqda.
                              Sizda savollar ko’pmi unda shoshiling!!!</p>
                            
                          </div>
                        </div>
                      </div><center data-aos="fade-up" data-aos-delay="100" class="col-md-6"><img src="static/images/work.png" class="img-fluid" alt="blog header"></center>
   
                    </div>  
                  </div>

       </section>

     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                           SILKROAD
                            <strong>Yangiliklari</strong>
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              {% for b in blogs %}
                                   
                          
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="{{b.image.url}}" class="responsive-img" alt="project image">

                                   <div class="project-info">
                                        <small>{{b.title}}</small>

                                        <h3>
                                             <a href="{{b.get_absolute_url}}">
                                                  <span>{{b.body|truncatewords:'7'}}</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>
                                {% endfor %}
                             

                         </div>
                    </div>

               </div>
          </div>
    
  </section>
   <section class="blog">
            <div class="container">
                 <div class="row">

                      <div class="col-lg-12 col-12 py-5 mt-5  text-center">

                        <h1 class="mb-4" data-aos="fade-up">SILKROAD O'qituvchilari</h1>
                      </div>
                        {% for blog in teachers %}
                          
                      
                      <div class="vedr col-md-3 col-md-4 col-12  mb-4">
                        <div class="blog-header" data-aos="fade-up" data-aos-delay="100">
                          

                          <div class="blog-header">
                            <center><img src="{{blog.image.url}}" style="width:250px;height:200px;border-radius:50%" class="m-4" alt="blog header"></center></div>
                           <a href="{{blog.get_absolute_url}}"><strong><h5 class="blog-category m-4 text-info">{{blog.name}} {{blog.surname}}</h5></strong></a> 

                            <div class="d-flex">
                            <h6 style="color:black;" class="m-4">{{blog.body|truncatewords:'12'}}</h6>
                            
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                      
   
                    </div>  
                  </div>

       </section>




     <!-- TESTIMONIAL -->

{% endblock %}

