{% extends 'base.html' %}
{% load static %}
{% block content %}
  
       <section class="project-detail section-padding-half">
          <div class="container">
               <div class="row">

                    <div class="col-lg-9 mx-auto col-md-11 col-12 my-5 pt-3" data-aos="fade-up">
                      <h4 class="blog-category text-info">{{blogs.name}}</h4>
                      <h4 class="blog-category text-info">{{blogs.surname}}</h4>
                      
                      <h1>{{blogs.course}}</h1>

                      <div class="client-info">
                          <p><h5 style="color:black;">Qisqacha malumot: {{blogs.body}}</h5> 
                            <h5 style="color:blue">{{blogs.tajribasi}}</h5>
                         <h5 style="color:blue">{{blogs.natijasi}}</h5></p>
                         <h5 style="color:black;">{{blogs.cours}}</h5> 
                          </div>
                      </div>
                    </div>

               </div>
          </div>
     </section>


     <div class="full-image text-center" data-aos="zoom-in">
       <img src="{{blogs.image.url}}" style="width:65%;" class="img-fluid" alt="blog header">
     </div><br><br>

    

{% endblock %}